<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    {{>header}}

<!-- News Conntent update daily -->
<div class="container-fluid">
  <h1>WelCome!</h1>
  <p>Live news teaches you some incredibly strong lessons: that every day is a new day, and it's never too late to fix something..</p>
  

<div class="row">

<!--news Conntent 1 -->
<div class="col-sm-4" style="background-color:lavender;">
    <h1></h1>
<h1>Muslims left nervous and afraid</h1>
<h2>The India360's Achal Kumar writes from the Bhiwani, Haryana:</h2>
<p>Sri Lankans are yet to come to terms with this wave of unprecedented bomb attacks.

It is believed some Muslim youths were radicalised after clashes between the majority Sinhala Buddhists and Muslims last year in the central district of Kandy.

There have been videos on social media showing hardline Islamists and Sinhala hardliners promoting hatred after that violence.

But very few expected such massive attacks a year later. And why were Christians targeted? They are also a minority in Sri Lanka.

The country experienced suicide attacks by Tamil Tiger rebels during the civil war that ended in 2009.

But the ruthlessness with which the latest attacks were carried out show that the country's task this time will be challenging.

It is a different kind of battle. In the meantime, Sri Lankan Muslims are left nervous and afraid.</p>




</div>

<!--news Conntent 2 -->
<div class="col-sm-4" style="background-color:lavenderblush;">
<h1>Iran oil: US to end sanctions exemptions for major importers</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>



</div>

<!--news Conntent 3 -->

 <div class="col-sm-4" style="background-color:lavender;">
     <h1>Why do we use it?</h1>
     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
 </div>

 </div>
</div>


    {{>footer}}
</body>

</html>